
<h2>{{bikes.brandName}} {{bikes.modelName}} detail</h2> 

<hr/>

<div *ngIf="bikes">
  <div class="card">
    <div class="row">
      <div class="col">
          <img src="{{bikes.bikeImage}}" class="card-img-top" alt="{{bikes.brandName}} {{bikes.modelName}}"/>
      </div>
      
      <div class="col">  
          <div class="card-body">
            <h3 class="card-title">{{bikes.brandName}}</h3>
            <h4>{{bikes.modelName}}</h4>
          <table> 
            <tr><td> Bike Number  : {{bikes.bikeNumber}}</td></tr> <br>
            <tr><td>Rent Amount : {{bikes.rentAmount}}</td></tr> <br>
            <tr> <td>Pickup Location : {{bikes.pickUpLocation}}</td></tr><br>
            <tr> <td>Availability : {{bikes.availability}}</td></tr><br>
            <tr> <td>Description : {{bikes.description}}</td></tr><br>
          </table>
          </div>
        </div>
      </div>
</div>

<br>
<br>
<button (click)="goto()" class="btn btn-primary">Back to Dashboard</button><br>