<div class="card shadow-lg p-3 mb-5 bg-body rounded col-sm-6 offset-sm-3">
    <h3 style="width: auto;" class="text-center">Edit Profile</h3>
    <div class="container">
        <form (ngSubmit)=" updateCustomerprofile()">
            <div class="form-group">
                <span class="label-input100">Upload Profile Image </span>
                <input type="file" class="form-control mt-2" id="bikeImage" (change)="onChange($event)" name="bikeImage"  placeholder="Upload your profile image" >
                <!-- <span class="focus-input100" data-symbol="&#xf14c;"></span> -->
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput"><b>Name</b></label>
                <input type="text" class="form-control" id="name" name="customerName" [(ngModel)]="customer.userName" placeholder="Enter your name">
            </div>
                        
            <div class="form-group">
                <label for="formGroupExampleInput"><b>Address</b></label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="renterAddress" [(ngModel)]="customer.address" placeholder="Address">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2"><b>Mobile Number</b></label>
                <input type="number" class="form-control" id="formGroupExampleInput2" name="mobileNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="10" maxlength = "10" [(ngModel)]="customer.mobileNumber"  placeholder="9876543210">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput"><b>Gender</b></label>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="male" [(ngModel)]="customer.gender" id="gridRadios1" value="Male" checked>
                    <label class="form-check-label" for="gridRadios1">Male</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="female" [(ngModel)]="customer.gender" id="gridRadios2" value="Female">
                    <label class="form-check-label" for="gridRadios2">Female </label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" >Update profile</button>
        </form>
    </div>
</div>