<h2> {{customer.userName}} Detail</h2> 

<hr/>

<div *ngIf="customer">
  <div class="card">
  <div class="row">
    <div class="col">
      <img src="{{customer.image}}" class="card-img-top" alt="{{customer.userName}}"/>
  </div>
    <div class="col pt-3">  <!-- <h3 class="card-title">{{customer.userName}}</h3> -->
      <table> 
         <tr><td>  Email Id  : {{customer.email}}</td></tr> <br>
         <tr><td>  Mobile Number : {{customer.mobileNumber}}</td></tr> <br>
         <tr> <td> Gender : {{customer.gender}}</td></tr><br>
         <tr> <td> Address : {{customer.address}}</td></tr><br>
      </table>
    </div>
  </div>
</div>
</div>


<br>
<br>
<div class="btn-group-justified d-grid gap-3 d-md-flex">
<button (click)="goto()" class="btn btn-primary ">Back to Dashboard</button>
<button (click)="editProfile(id)" class="btn btn-warning">Edit Profile</button>
</div>